@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  transition: 0.1s;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #222;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2{
  color: white;
}
span{
  color: white;
  margin-right: 15px;
}
span:hover{
  color: violet;
  margin-right: 15px;
}
#card{
  width: 400px;
  min-height: 100px;
  height: max-content;
  border-radius: 6px;
  background-color: #444;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#author{
  color: white;
}
@media (max-width: 450px){
  #card{
    width: 90%
  }
}